@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for WebKit-based browsers on mobile devices */
@media (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.main {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fdcb6e;
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff7675, #e84393);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

.main:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
}

.main:hover::after {
  opacity: 1;
}

.wipe {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #414141;
  border-radius: 4px;
  transition: color 0.3s;
  color: #414141; /* Ensure initial text color */
  z-index: 1;
}

.wipe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414141;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(100%);
  z-index: -1; /* Behind the text */
}

.wipe:hover::after {
  transform: translateY(0);
}

.wipe:hover {
  color: #fff; /* Change text color on hover */
}

@keyframes floatUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-floatUp {
  animation: floatUp 1s ease-out;
}

.animate-floatDown {
  animation: floatDown 1s ease-out;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid black; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* switch card */
.switch {
  transform: translateY(-260px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.card-side::before {
  position: absolute;
  content: "Log in";
  left: -70px;
  top: 0;
  width: 600px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
}

.card-side::after {
  position: absolute;
  content: "Sign up";
  left: 70px;
  top: 0;
  width: 600px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-colorcolor);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--input-focus);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.toggle:checked ~ .card-side:before {
  text-decoration: none;
}

.toggle:checked ~ .card-side:after {
  text-decoration: underline;
}

/* card */

.flip-card__inner {
  width: 600px;
  height: 500px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  /* width: 100%;
    height: 100%; */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card__inner {
  transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card__front {
  box-shadow: none;
}

.flip-card__front,
.flip-card__back {
  width: 600px;
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(235, 235, 235);
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.flip-card__input {
  width: 500px;
  height: 52px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

@media (max-width: 600px) {
  .flip-card__inner,
  .flip-card__front,
  .flip-card__back {
    width: 400px;
    height: 380px;
  }

  .flip-card__input {
    width: 300px;
    height: 50px;
  }

  .title {
    font-size: 25px;
  }

  .flip-card__btn {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }
}

.pencil {
  display: block;
  width: 10em;
  height: 10em;
}

.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pencil__body1,
.pencil__body2,
.pencil__body3 {
  transform: rotate(-90deg);
}

.pencil__body1 {
  animation-name: pencilBody1;
}

.pencil__body2 {
  animation-name: pencilBody2;
}

.pencil__body3 {
  animation-name: pencilBody3;
}

.pencil__eraser {
  animation-name: pencilEraser;
  transform: rotate(-90deg) translate(49px, 0);
}

.pencil__eraser-skew {
  animation-name: pencilEraserSkew;
  animation-timing-function: ease-in-out;
}

.pencil__point {
  animation-name: pencilPoint;
  transform: rotate(-90deg) translate(49px, -30px);
}

.pencil__rotate {
  animation-name: pencilRotate;
}

.pencil__stroke {
  animation-name: pencilStroke;
  transform: translate(100px, 100px) rotate(-113deg);
}

/* Animations */
@keyframes pencilBody1 {
  from,
  to {
    stroke-dashoffset: 351.86;
    transform: rotate(-90deg);
  }

  50% {
    stroke-dashoffset: 150.8;
    /* 3/8 of diameter */
    transform: rotate(-225deg);
  }
}

@keyframes pencilBody2 {
  from,
  to {
    stroke-dashoffset: 406.84;
    transform: rotate(-90deg);
  }

  50% {
    stroke-dashoffset: 174.36;
    transform: rotate(-225deg);
  }
}

@keyframes pencilBody3 {
  from,
  to {
    stroke-dashoffset: 296.88;
    transform: rotate(-90deg);
  }

  50% {
    stroke-dashoffset: 127.23;
    transform: rotate(-225deg);
  }
}

@keyframes pencilEraser {
  from,
  to {
    transform: rotate(-45deg) translate(49px, 0);
  }

  50% {
    transform: rotate(0deg) translate(49px, 0);
  }
}

@keyframes pencilEraserSkew {
  from,
  32.5%,
  67.5%,
  to {
    transform: skewX(0);
  }

  35%,
  65% {
    transform: skewX(-4deg);
  }

  37.5%,
  62.5% {
    transform: skewX(8deg);
  }

  40%,
  45%,
  50%,
  55%,
  60% {
    transform: skewX(-15deg);
  }

  42.5%,
  47.5%,
  52.5%,
  57.5% {
    transform: skewX(15deg);
  }
}

@keyframes pencilPoint {
  from,
  to {
    transform: rotate(-90deg) translate(49px, -30px);
  }

  50% {
    transform: rotate(-225deg) translate(49px, -30px);
  }
}

@keyframes pencilRotate {
  from {
    transform: translate(100px, 100px) rotate(0);
  }

  to {
    transform: translate(100px, 100px) rotate(720deg);
  }
}

@keyframes pencilStroke {
  from {
    stroke-dashoffset: 439.82;
    transform: translate(100px, 100px) rotate(-113deg);
  }

  50% {
    stroke-dashoffset: 164.93;
    transform: translate(100px, 100px) rotate(-113deg);
  }

  75%,
  to {
    stroke-dashoffset: 439.82;
    transform: translate(100px, 100px) rotate(112deg);
  }
}

.triangle {
  position: absolute;
  top: -2;
  left: -2;
  width: 0;
  height: 0;
  border-left: 50px solid #ffed4e;
  border-bottom: 50px solid transparent;
}

.text_button {
  border-radius: 1.5rem;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_button .span-mother {
  display: flex;
  overflow: hidden;
}

.text_button:hover .span-mother {
  position: absolute;
}

.text_button:hover .span-mother span {
  transform: translateY(1.2em);
}

.text_button .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.text_button .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.text_button .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.text_button .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.text_button .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.text_button .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.text_button .span-mother span:nth-child(7) {
  transition: 0.8s;
}

.text_button .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.text_button .span-mother2 span {
  transform: translateY(-1.2em);
}

.text_button:hover .span-mother2 span {
  transform: translateY(0);
}

.text_button .span-mother2 span {
  transition: 0.2s;
}

.text_button .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.text_button .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.text_button .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.text_button .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.text_button .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

.text_button .span-mother2 span:nth-child(7) {
  transition: 0.8s;
}
